<a href="https://colab.research.google.com/github/anvi265/python-fundamentals/blob/main/introduction_to_python_part_2_siavash_classnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions / Methods

Here are various examples on how we can use functions / Methods in Python.

## Basic Function

In [ ]:
def greet():
    print("Hello, World!")

greet() # calling a function.

Hello, World!

## Function With Parameters

In [ ]:
def add_numbers(a, b): # parameters
  return a + b

result = add_numbers(5, 3) # arguments
print(result)

8

## Default Parameter Values

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}")

greet()
greet("Alice")

Hello, Guest
Hello, Alice

## Return Multiple Values

In [ ]:
def get_square_and_cube(x):
    square = x ** 2
    cube = x ** 3
    # return x ** 2, x ** 3
    return square, cube

S, C = get_square_and_cube(3) # Multiple assignment
print("Square:", S)
print("Cube:", C)

Square: 9
Cube: 27

In [ ]:
def get_square_and_cube(x):
    square = x ** 2
    cube = x ** 3
    return square, cube

result = get_square_and_cube(3)

print(result[0])
print(result[1])

9
27

## Variable Number of Arguments
Handling variable number of arguments using `*args`

In [ ]:
def add_all(*args):
    result = 0
    for num in args:
        result += num
    return result

result = add_all(1, 2, 3, 4, 5)
print(result)

result = add_all(1, 2, 3)
print(result)

15
6

## Keyword Arguments

In [ ]:
def display_info(name, age):
    print(f"Name: {name}, Age: {age}")

display_info(age=25, name="Alice")

Name: Alice, Age: 25

## Function within a Function
Defining a function within another function. Unlike other languages this is allowed in Python.

In [ ]:
def outer_function(x):

    def inner_function(y):
        return y * 2

    return inner_function(x)

result = outer_function(3)
print(result)

6

# Python Lists
Here are all the examples on how lists works in Python, with commonly used list methods.

## List Declaration and Initialization

Empty list

In [ ]:
empty_list = []
print(empty_list)

[]

List with elements - integers

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 2, 3, 4, 5]

List with elements - strings

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

Mixed-type list

In [ ]:
mixed_list = [1, "hello", 3.14, True]
print(mixed_list)

[1, 'hello', 3.14, True]

Nested list

In [ ]:
# nested_list = [[1, 2, 3], ["a", "b", "c"]]
nested_list = [
    [1, 2, 3],
    ["a", "b", "c"]
]
print(nested_list)

[[1, 2, 3], ['a', 'b', 'c']]

## Accessing Elements

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
print(numbers[0])

1

In [ ]:
print(numbers[-1])

5

In [ ]:
print(numbers[2])

3

In [ ]:
print(numbers[-3])

3

In [ ]:
print(numbers[5])

IndexError: list index out of range

## Iterating over a list

In [ ]:
my_list = ["apple", "banana", "cherry", "kiwi"]
print(my_list)

['apple', 'banana', 'cherry', 'kiwi']

In [ ]:
print("\nfor loop via values:\n")

for elem in my_list:
    print(elem)

for loop via values:

apple
banana
cherry
kiwi

In [ ]:
print("\nfor loop via indexes:\n")

n = len(my_list)

for i in range(n):
    print(i, my_list[i])

for loop via indexes:

0 apple
1 banana
2 cherry
3 kiwi

## List Concatenation and Repetition

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

print(list1)
print(list2)

[1, 2, 3]
[4, 5, 6]

Concatenation

In [ ]:
combined_list = list1 + list2
print(combined_list)

[1, 2, 3, 4, 5, 6]

Repetition

In [ ]:
repeated_list = list1 * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
my_results = [[]] * 5
print(my_results)

[[], [], [], [], []]

## List Comprehensions

Squares of numbers from 1 to 5

In [ ]:
# [1, 4, 9, 16, 25]

squares = [x ** 2 for x in range(1, 6)]

print(squares)

[1, 4, 9, 16, 25]

Find the even numbers from a given list

In [ ]:
# [2, 0, -10, 24]

numbers = [-1, 2, 0, -10, 24, 3.2]

even_nums = [num for num in numbers if num % 2 == 0]

print(even_nums)

[2, 0, -10, 24]

## List Slicing

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Slicing

In [ ]:
print(numbers[1:4])

[2, 3, 4]

Negative slicing

In [ ]:
print(numbers[-3:-1])

[3, 4]

## Membership Testing

Check if an element is in the list

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
is_3_present = 3 in numbers
print(is_3_present)

True

In [ ]:
is_7_present = 7 in numbers
print(is_7_present)

False

## List Methods

#### Append

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

#### Extend

In [ ]:
numbers.extend([5, 6])
print(numbers)

[1, 2, 3, 4, 5, 6]

#### Insert

In [ ]:
numbers.insert(2, 99)
print(numbers)

[1, 2, 99, 3, 4, 5, 6]

#### Remove

In [ ]:
numbers.remove(3)
print(numbers)

[1, 2, 99, 4, 5, 6]

#### Pop

In [ ]:
popped = numbers.pop()
print(popped)
print(numbers)

6
[1, 2, 99, 4, 5]

#### Index

In [ ]:
index = numbers.index(99)
print(index)

2

#### Count

In [ ]:
count = numbers.count(4)
print(count)

1

#### Sort

In [ ]:
numbers.sort()
print(numbers)

[1, 2, 4, 5, 99]

#### Reverse

In [ ]:
numbers.reverse()
print(numbers)

[99, 5, 4, 2, 1]

#### Copy

In [ ]:
numbers_copy = numbers.copy()

print(numbers_copy)

[99, 5, 4, 2, 1]

In [ ]:
numbers.append(4)
print(numbers)

[99, 5, 4, 2, 1, 4]

In [ ]:
print(numbers.count(100))

0

## Coding Questions

### Greet People differently
Write a function that takes two parameters - a list of names and a default greeting message. The function should print a personalized greeting for each name using the provided or default greeting.

In [ ]:
def greet_people(names, greeting="Hello"):
    for name in names:
        print(f"{greeting}, {name}")

In [ ]:
# Test case

name_list = ["Alice", "Bob", "Charlie"]

greet_people(name_list)  # Should print default greetings

greet_people(name_list, "Hi")  # Should print personalized greetings with "Hi"

Hello, Alice
Hello, Bob
Hello, Charlie
Hi, Alice
Hi, Bob
Hi, Charlie

### Average of given numbers
Write a function called average that takes a variable number of arguments and returns the average of those arguments.

In [ ]:
def average(*args):
    sum_of_nums = 0
    for num in args:
        sum_of_nums += num
    ave = sum_of_nums / len(args)
    return ave

In [ ]:
# Test case 1

result = average(1, 2, 3, 4, 5)

print(result)  # Expected output: 3.0

3.0

In [ ]:
# Test case 2

result = average(-1, 0, 1)

print(result)  # Expected output: 0.0

0.0

### Find Duplicates
Write a program to find whether the list has duplicates or not.

In [ ]:
def find_dup(my_list):
    for item in my_list:
        if my_list.count(item) > 1:
            return True
    return False

In [ ]:
new_list = [x for x in my_list if my_list.count(x) > 1]
if len(new_list) > 1:
    return True
return False
print(new_list)

[1, 1]

In [ ]:
# Test case 1

my_list = [1, 2, 3, 4, 9, 10, 15]

print(find_dup(my_list))

False

In [ ]:
# Test case 2

my_list = [1, 2, 3, 1, 0]

print(find_dup(my_list))

True

# Python Strings
Here are some examples on strings in Python and commonly used string methods.

## String Declaration and Concatenation

#### String Declaration

In [ ]:
string1 = "Hello"
string2 = 'World'

print(string1)
print(string2)

Hello
World

#### String Concatenation

In [ ]:
result = string1 + " " + string2
print(result)  # Output: Hello World

Hello World

##  String Indexing and Slicing

In [ ]:
my_string = "Python"
print(my_string)

Python

#### Indexing

In [ ]:
first_char = my_string[0]
last_char = my_string[-1]

print("first char:", first_char)
print("last char:", last_char)

first char: P
last char: n

#### Slicing

In [ ]:
substring = my_string[1:4]

print("substring:", substring)

substring: yth

## String Length

In [ ]:
my_string = "Hello, World!"

length = len(my_string)

print(length)

13

## String Methods

In [ ]:
my_string = "   Hello, World!   "
print(my_string)

   Hello, World!

#### strip whitespace

In [ ]:
stripped_string = my_string.strip()
print(stripped_string)

Hello, World!

#### lowercase and uppercase

In [ ]:
lowercase = my_string.lower()
uppercase = my_string.upper()

print(lowercase)
print(uppercase)

   hello, world!
   HELLO, WORLD!

#### Replace

In [ ]:
new_string = my_string.replace("Hello", "Hi")
print(new_string)

   Hi, World!

### Count Substring occurrences

In [ ]:
my_string = "abracadabraarar"
substring = "ra"

In [ ]:
count_occurrences = my_string.count(substring)
print(count_occurrences)

3

#### Start searching from given index

In [ ]:
count_occurrences = my_string.count(substring, 5)
print(count_occurrences)

2

### Check Start and End

In [ ]:
my_string = "Hello, World!"
print(my_string)

Hello, World!

In [ ]:
starts_with_hello = my_string.startswith("Hello")
print(starts_with_hello)

True

In [ ]:
ends_with_world = my_string.endswith("World-wide!")
print(ends_with_world)

False

### Check Character Types

In [ ]:
my_string = "abc123"

#### Check if all characters are alphanumeric

In [ ]:
is_alphanumeric = my_string.isalnum()
print(is_alphanumeric)

True

#### Check if all characters are alphabetic

In [ ]:
is_alpha = my_string.isalpha()
print(is_alpha)

False

#### Check if all characters are digits

In [ ]:
is_digit = my_string.isdigit()
print(is_digit)

False

### String Capitalization

In [ ]:
my_string = "hello world"
print(my_string)

hello world

#### Capitalize the first letter of the string

In [ ]:
capitalized_string = my_string.capitalize()
print(capitalized_string)

Hello world

#### Title case (capitalize the first letter of each word)

In [ ]:
title_case_string = my_string.title()
print(title_case_string)

Hello World

## String Formatting

In [ ]:
name = "Alice"
age = 30

# show = My name is Alice and I am 30 years old.

#### f-string

In [ ]:
f_string = f"My name is {name} and I am {age} years old."
print(f_string)

My name is Alice and I am 30 years old.

#### Concatenation

In [ ]:
concatenated_string = "My name is " + name + " and I am " + str(age) + " years old."
print(concatenated_string)

My name is Alice and I am 30 years old.

#### format()

In [ ]:
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Alice and I am 30 years old.

#### Using %

In [ ]:
percent_formatted_string = "My name is %s and I am %d years old." % (name, age)
print(percent_formatted_string)

My name is Alice and I am 30 years old.

## String Splitting and Joining

In [ ]:
my_string = "apple,orange,banana"
print(my_string)

apple,orange,banana

In [ ]:
partitioned_string = my_string.partition("orange")
print(partitioned_string)

('apple,', 'orange', ',banana')

#### Split string into a list

In [ ]:
fruits_list = my_string.split(',')
print(fruits_list)

['apple', 'orange', 'banana']

#### Join list elements into a string

In [ ]:
new_string = '-'.join(fruits_list)
print(new_string)

apple-orange-banana

## Checking Substrings

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"
print(sentence)

The quick brown fox jumps over the lazy dog

#### Check if a substring is present

In [ ]:
contains_fox = "fox" in sentence
print(contains_fox)

True

In [ ]:
contains_cat = "cat" in sentence
print(contains_cat)

False

#### Find the index of a substring

In [ ]:
index_of_brown = sentence.find("brown")
print(index_of_brown)

10

## Escape Characters
Escape characters in Python are special characters preceded by a backslash (\\) and they are used to represent characters that are difficult to input directly or might be misinterpreted. Here are some commonly used escape characters along with examples:

### NewLine (`\n`)
Inserts a newline character

In [ ]:
multiline_string = "This is a line.\nThis is a new line."
print(multiline_string)

This is a line.
This is a new line.

### Tab (`\t`)
Inserts a tab character

In [ ]:
indented_string = "This is a\ttabbed line."
print(indented_string)

This is a	tabbed line.

### Backslash (`\\`)
Inserts a literal backslash

In [ ]:
backslash_string = "This is a backslash: \\"
print(backslash_string)

This is a backslash: \

### Single Quote (\') and Double Quote (\"):
Inserts a literal single quote or double quote.

In [ ]:
single_quote_string = 'He said, \'Hello!\''
print(single_quote_string)

He said, 'Hello!'

In [ ]:
double_quote_string = "She said, \"Hi!\""
print(double_quote_string)

She said, "Hi!"

### Raw Strings (r or R prefix):
Treats backslashes as literal characters, useful for regular expressions.

In [ ]:
normal_string = "C:\new_folder\new_file"
print(normal_string)

C:\new_folder\new_file

In [ ]:
raw_string = r"C:\new_folder\new_file"
print(raw_string)

C:\new_folder\new_file

# Python Tuples
Here are the examples and usage of Tuples

## Tuple Declaration and Access

In [ ]:
my_tuple = (1, 2, 3, "apple", "banana")
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 'apple', 'banana')

In [ ]:
first_element = my_tuple[0]
last_element = my_tuple[-1]

print(first_element)
print(last_element)

1
banana

## Tuple Unpacking

In [ ]:
my_tuple = (1, 2, 3, "apple", "banana")

a, b, c, d, e = my_tuple

print(a, b, c, d, e)

1 2 3 apple banana

In [ ]:
a, b, *rest = my_tuple

print(a, b, rest)

1 2 [3, 'apple', 'banana']

## Tuple Concatenation

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana")

combined_tuple = tuple1 + tuple2

print(combined_tuple)

(1, 2, 3, 'apple', 'banana')

## Tuple Methods

### Count

In [ ]:
numbers = (1, 2, 3, 4, 5, 2)

count_of_2 = numbers.count(2)

print(count_of_2)

2

### Index

In [ ]:
numbers = (1, 2, 3, 4, 5, 2)

index_of_4 = numbers.index(4)

print(index_of_4)

3

### Length

In [ ]:
my_tuple = (10, 20, 30, "apple", "banana")

length = len(my_tuple)

print(length)

5

### Max and Min Functions

In [ ]:
numbers = (5, 8, 3, 2, 10)

max_value = max(numbers)
min_value = min(numbers)

print(max_value, min_value)

10 2

### Checking Membership

In [ ]:
fruits = ("apple", "orange", "banana")

is_apple_present = "apple" in fruits
is_grape_present = "grape" in fruits

print(is_apple_present, is_grape_present)

True False

### `any()` and `all()` Functions

In [ ]:
boolean_values = (True, True, False, True)
print(boolean_values)

(True, True, False, True)

In [ ]:
# Check if any element is True
any_true = any(boolean_values)
print(any_true)

True

In [ ]:
# Check if all elements are True
all_true = all(boolean_values)
print(all_true)

False

## Tuple Comparison

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3, 4)

is_smaller = tuple1 < tuple2

print(is_smaller)

True

## Nested Tuples

In [ ]:
nested_tuple = ((1, 2, 3), ("apple", "banana"), ("x", "y", "z"))

print(nested_tuple[1][0])

apple

## Immutable Nature of Tuples

In [ ]:
my_tuple = (1, 2, 3)

my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

## Returning Multiple Values from a Function

In [ ]:
def return_coordinates():
    x = 10
    y = 20
    z = 30
    return x, y, z

In [ ]:
coordinates = return_coordinates()
print(coordinates[0], coordinates[1], coordinates[2])

10 20 30

In [ ]:
coordinate_x, coordinate_y, coordinate_z = return_coordinates()
print(coordinate_x, coordinate_y, coordinate_z)

10 20 30

## Creating Single-Element Tuple

In [ ]:
single_element_tuple = (42,)

print(type(single_element_tuple))
print(single_element_tuple)

<class 'tuple'>
(42,)

In [ ]:
single_element_int = (42)

print(type(single_element_int))
print(single_element_int)

<class 'int'>
42

## Using tuple() Constructor

In [ ]:
my_list = [1, 2, 3, 4]

tuple_from_list = tuple(my_list)

print(tuple_from_list)

(1, 2, 3, 4)

In [ ]:
list_from_tuple = list(tuple_from_list)

print(list_from_tuple)

[1, 2, 3, 4]

## Lists vs Tuples

In [ ]:
my_list = [0, 1, 2, 5, 10]
my_tuple = (0, 1, 2, 5, 10)

print(my_list)
print(my_tuple)

[0, 1, 2, 5, 10]
(0, 1, 2, 5, 10)

In [ ]:
print(id(my_list))
print(id(my_tuple))

139589150834560
139589149484480

In [ ]:
import sys

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

104 bytes
80 bytes

# Coding Examples

## String in Uppercase
Write a function that takes a string as input and returns the string in uppercase.

In [ ]:
def to_uppercase():
    user_input = input("Enter a string to be converted to uppercase:")
    return user_input.upper()

In [ ]:
# Test case
print(to_uppercase())

Enter a string to be converted to uppercase:Hello World!
HELLO WORLD!

## List with characters longer than 5
Write a function that takes a list of strings as input and returns a new list with all the strings that are longer than 5 characters.

In [ ]:
def long_strings(strings):
    return [string for string in strings if len(string) > 5]

In [ ]:
# Test case
my_list = ["python", "java", "c++", "go lang", "ruby", "c#", "javascript"]
print(long_strings(my_list)) # Expected: ['python', 'go lang', 'javascript']

['python', 'go lang', 'javascript']

## Swap First and Last
Write a function that takes a string as input and returns a new string with the first and last characters swapped.

In [ ]:
def swap_first_last():
    text = input("Enter the input string to be swapped:")
    if len(text) < 2:
        return text
    return text[-1] + text[1:-1] + text[0]

In [ ]:
print(swap_first_last())

Enter the input string to be swapped:abcde
ebcda

## Convert to Strings
Write a function that takes a tuple with mixed data types (strings, integers, floats) and returns a new tuple with all the elements converted to strings.

In [ ]:
def to_strings(data):
    return tuple([str(item) for item in data])

In [ ]:
# Test case
my_tuple = ("hello", 1, 2, 3, 4.56)
print(to_strings(my_tuple)) # Expected: ('hello', '1', '2', '3', '4.56')

('hello', '1', '2', '3', '4.56')

## Reverse a Tuple
Write a function that takes a tuple as input and returns a new tuple with the elements reversed.

In [ ]:
def reverse_tuple(data):
    return tuple(data[::-1])

In [ ]:
# Test Case
my_tuple = (1, 4, 6, 3, 10, 100)
print(reverse_tuple(my_tuple)) # Expected: (100, 10, 3, 6, 4, 1)

(100, 10, 3, 6, 4, 1)

## Check Palindrome
Palindrome - a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam.
Write a program to find whether the given string is palindrome or not.

In [ ]:
def is_palindrome():
    s = input("Enter the phrase to check if it is palindrome: ")
    start = 0
    end = len(s) - 1
    while start < end:
        if s[start] != s[end]:
            return False
        start += 1
        end -= 1
    return True

In [ ]:
# Test case
print(is_palindrome())

Enter the phrase to check if it is palindrome: aba
True