<a href="https://colab.research.google.com/github/anvi265/python-fundamentals/blob/main/programming_with_python_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Python

`print()` is a function in python which takes a string and will print the content on the console.

We also have comments which can be used in Python, whatever is represented as comments will never be processed by Python.

Remember, comments are essential for making your code readable and understandable, especially for yourself and others who may read your code in the future. Use them to explain your thought process, document important details, and clarify complex parts of your code.

In [ ]:
"""
This is a multi-
line comment using triple quotes
and this will never be executed by python.
"""

# print("Priyanka")

# Also this is a single-line comment (Command/Ctrl + /)

'\nThis is a multi-\nline comment using triple quotes\nand this will never be executed by python.\n'

In [ ]:
print("This will be printed on the console") # command/ctrl + return

This will be printed on the console

In [ ]:
print("Hello") # This is an in-line comment

Hello

# Variables & Data Types

In [ ]:
name = "Alice" # String data type
print(name)
print(type(name))

Alice
<class 'str'>

In [ ]:
age = 18 # integer data type
print(age)
print(type(age))

18
<class 'int'>

In [ ]:
has_license = True # boolean data type
print(has_license)
print(type(has_license))

True
<class 'bool'>

In [ ]:
gpa = 3.8 # float data type
print(gpa)
print(type(gpa))

3.8
<class 'float'>

In [ ]:
# Creating / modifying variables
new_age = age + 5
print("current age:", age)
print("new_age:", new_age)

current age: 18
new_age: 23

We can declare strings using single quotes or double quotes. Also below are examples which will show how you can use a single quote or double quote or both inside a string. If you want to use any of the quote inside the string you can always use `\` which is called an escape character which will escape the `"` or `'`. Below are the examples:

In [ ]:
greeting_double_quotes = "She said, 'Hello, World!'"
print(greeting_double_quotes)

She said, 'Hello, World!'

In [ ]:
greeting_single_quotes = 'He said, "Hello, World!"'
print(greeting_single_quotes)

He said, "Hello, World!"

In [ ]:
count = 0
while(True):
   if count % 3 == 0:
       print(count, end = " ")
   if(count > 15):
       break;
   count += 1

0 3 6 9 12 15

In [ ]:
i = 1
while False:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [ ]:
greeting_escape_character = "I said, \"I love you!\""
print(greeting_escape_character)

I said, "I love you!"

In [ ]:
print('"He"ll"o"')

# Arithmetic Operators

We will perform all the arithmetic operations available in python and see the results. Below are all the operations.

We will consider two variables `a` and `b`. For each operation we will create a new variable to store the result and print it at the end.

You can also observe that floor division and divison operation gives `int` and `float` values respectively.

In [ ]:
a = 10
b = 4
d = 5

In [ ]:
addition = a + b # Adding of 2 numbers

print("addition of a and b is:" , addition)

# Other methods to add variables in a string

print("addition of {} and {} is:".format(a, b), addition)

print(f"addition of {a} and {b} is:", addition)

print("addition of %d and %d is:" % (a, b), addition)

addition of a and b is: 14
addition of 10 and 4 is: 14
addition of 10 and 4 is: 14
addition of 10 and 4 is: 14

In [ ]:
subtraction = a - b # Subtracting of 2 numbers
print("subtraction of a and b is:", subtraction)

subtraction of a and b is: 6

In [ ]:
multiplication = a * b # Multiplication of 2 numbers
print("multiplication of a and b is:", multiplication)

multiplication of a and b is: 40

In [ ]:
division = a / b # Division of 2 numbers
print("division of a and b is:", division)
print("type of division result:", type(division)) # Python implicitly converts it to float type for division operation

division of a and b is: 2.5
type of division result: <class 'float'>

In [ ]:
floor_division = a // b # Integer part of the division operation
print("floor_division of a and b is:", floor_division)

floor_division of a and b is: 2

In [ ]:
remainder = a % b # returns the remainder of the division operation
print("remainder of a and b is:", remainder)

remainder of a and b is: 2

In [ ]:
power = a ** b # returns by performing a to the power of b
print("a to the power of b is:", power)

a to the power of b is: 10000

# Assignment Operators

Assignment operators in Python are used to assign values to variables. They combine an operation with assignment.

We can use any arithmetic operator followed by `=` which makes it in-place assignment operation, For example: `+=` adds the right operand to the left operand and assigns the result to the left operand. It is a shorthand notation for updating the value of a variable by adding another value to it. Below are the examples:

In [ ]:
# Examples of Assignment Operators
a = 10
b = a
print(b)

10

In [ ]:
# Add and assign value
b = a
# b = b + 10  # option 1
b += 10     # option 2
print(b)

20

In [ ]:
a = 10
b = 10
print(a // b)

1

In [ ]:
# Divide and assign value
b = a
b /= 10     #option 1
# b = b / 10  #option 2
print(b)

1.0

In [ ]:
# Subtract and assign value
b = 10
b -= 5      # option 1
# b = b - 5   # option 2
print(b)

5

In [ ]:
# multiply and assign value
b = 10
b *= 2      # option 1
# b = b * 2   # option 2
print(b)

20

# Comparison Operators

Comparison operators in Python are used to compare values and expressions, and they return a Boolean result (True or False). These operators play a crucial role in controlling the flow of a program, making decisions based on conditions, and expressing relationships between different values.

In [ ]:
a = 40
b = 40

In [ ]:
condition = a > b # bool

print(condition)

False

In [ ]:
print(a > b)

False

In [ ]:
print(a < b)

False

In [ ]:
print(a == b)

True

In [ ]:
print(a != b)

False

In [ ]:
print(a >= b)

True

In [ ]:
print(a <= b)

True

# Logical Operators

In [ ]:
a = True
b = False

In [ ]:
print(a and b)

False

In [ ]:
print(a or b)

True

In [ ]:
print(not a)
print(not b)

False
True

In [ ]:
a = True
b = False

condition1 = (a or b)
condition2 = (a and b)

print(condition1)
print(condition2)

True
False

# If Else Statements

The below code is to find whether the given number is even or odd using conditional statements

In [ ]:
a = 11
# use if else for finding a number is odd or even if its diveided by 2 is 0
if not (a%2):

 print ("Even")
else:
 print ("odd")

odd

The below code is find the grade of a student from the score.

In [ ]:
# if else statements to find the Grade of a student based on the exam score

score = 101
# Check the grade based on the score
if score >= 90 and score <=100:
    # Grade A: If the score is 90 or above
    print("Grade: A")

elif score >= 80 and score <=90:
    # Grade B: If the score is between 80 and 89
    print("Grade: B")

elif score >= 70:
    # Grade C: If the score is between 70 and 79
    print("Grade: C")

elif score >= 60:
    # Grade D: If the score is between 60 and 69
    print("Grade: D")

else:
    # Grade F: If the score is below 60
    print("Grade: F (Fail)")

Grade: C

The below code is find out whether the given number is positive, negative or zero.

In [ ]:
number = 10

# if-elif-else
if number > 0: # definition of positive
    print("Positive number")
    print("Inside if block")
elif number < 0: # definition of negative
    print("Negative number")
    print("Inside elif block")
else: # zero
    print("Zero")
    print("Inside else block")

Positive number
Inside if block

The below code is to find out what traingle type it is given the length of all 3 sides of a traingle

In [ ]:
# Triangle type example based on sides
side1 = 10
side2 = 10
side3 = 10

# Check triangle type
if side1 == side2 == side3:
    print("Equilateral Triangle: All sides are equal.")

elif (side1 == side2) or (side1 == side3) or (side2 == side3):
    print("Isosceles Triangle: Two sides are equal.")

else:
    print("Scalene Triangle: No sides are equal.")

Equilateral Triangle: All sides are equal.

The below code takes 3 values and checks whether they form a Pythagorean Triplet or not.

In [ ]:
# Pythagorean triplet example
a = 3
b = 4
c = 5

# Check if it forms a Pythagorean triplet
if (a**2 + b**2 == c**2) or (a**2 + c**2 == b**2) or (b**2 + c**2 == a**2):
    print("The numbers form a Pythagorean triplet.")
else:
    print("The numbers do not form a Pythagorean triplet.")

The numbers form a Pythagorean triplet.

An example of a nested if-else

In [ ]:
# nested if-else

a = 12

if a % 2 == 0:
    if a % 5 == 0:
        print("It is even and also divisible by 5")
    elif a % 6 == 0:
        print("it is even and also divisible by 6")
    else:
        print("it is an even number, not divisible by 5 and 6")
else:
    if a % 3 == 0:
        print("it is odd and also divisible by 3")
    else:
        print("It is odd but not divisible by 3")

it is even and also divisible by 6

# Loops

In [ ]:
for i in range(10): # (0, 1, 2, ..., 9)
    print(i, "Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [ ]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
  print(fruit)

apple
banana
orange

In [ ]:
for i in range(10, 20): # (10, 11, ..., 19)
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(0, 20, 3): # (0, 3, ..., 18)
    print(i)

0
3
6
9
12
15
18

In [ ]:
# while loop
i = 0
while i < 10:
    if i == 6:
        i += 1
        continue
    print(i)
    i += 1

0
1
2
3
4
5
7
8
9

In [ ]:
name = input("Please enter your name: ")

print("Hello " + name + ". Welcome to Python week 1!")

Please enter your name: ati
Hello ati. Welcome to Python week 1!

In [ ]:
for number in range (2000, 3501):

if (number % 7 == 0) and (number % 5 != 0):
  print(number, end= "!")

Write a program to Check Whether a Number is Prime or not

In [ ]:
number =

In [ ]:
user_input = int(input("Enter an integer: "))
is_prime = True

if user_input < 2: # numbers smaller than 2 are not prime
    is_prime = False
elif user_input == 2: # check 2
    is_prime = True
elif user_input % 2 == 0: # even numbers except 2 are not prime
    is_prime = False
else:
    for i in range(3, user_input, 2):
        print(i)
        if user_input % i == 0:
            is_prime = False
            break

if is_prime:
    print("prime number")
else:
    print("not a prime number")

Enter an integer: 21
3
not a prime number

Write a program to find numbers that are divisible by 7 but not by 5 in the range from 2000 to 3500

In [ ]:
for num in range(2000, 3501):
    if (num % 7 == 0) and (num % 5 != 0):
       print(num, end="|")

2002|2009|2016|2023|2037|2044|2051|2058|2072|2079|2086|2093|2107|2114|2121|2128|2142|2149|2156|2163|2177|2184|2191|2198|2212|2219|2226|2233|2247|2254|2261|2268|2282|2289|2296|2303|2317|2324|2331|2338|2352|2359|2366|2373|2387|2394|2401|2408|2422|2429|2436|2443|2457|2464|2471|2478|2492|2499|2506|2513|2527|2534|2541|2548|2562|2569|2576|2583|2597|2604|2611|2618|2632|2639|2646|2653|2667|2674|2681|2688|2702|2709|2716|2723|2737|2744|2751|2758|2772|2779|2786|2793|2807|2814|2821|2828|2842|2849|2856|2863|2877|2884|2891|2898|2912|2919|2926|2933|2947|2954|2961|2968|2982|2989|2996|3003|3017|3024|3031|3038|3052|3059|3066|3073|3087|3094|3101|3108|3122|3129|3136|3143|3157|3164|3171|3178|3192|3199|3206|3213|3227|3234|3241|3248|3262|3269|3276|3283|3297|3304|3311|3318|3332|3339|3346|3353|3367|3374|3381|3388|3402|3409|3416|3423|3437|3444|3451|3458|3472|3479|3486|3493|

Write a program that takes a number as input and returns true if the sum of its digits has the same parity as the entire number. (Here same parity is whether they are even or odd). Else would return false.

parity_analysis(243) ➞ True  # 243 is odd and so is 9 (2 + 4 + 3)

parity_analysis(12) ➞ False  # 12 is even but 3 is odd (1 + 2)

In [ ]:
number = int(input("Enter an integer: "))
digit_sum = 0

number_str = str(number)

for digit in number_str:
    digit_sum += int(digit)

condition = (number % 2) == (digit_sum % 2)
print(condition)

Enter an integer: 554
True

Multiplication table of n

In [ ]:
multable = int(input("Multiplication table of : "))
i=1
for i in range(1,13):
    result = i*multable
    print (f"{i} X {multable} = " + str(result) )

Multiplication table of : 5
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50
11 X 5 = 55
12 X 5 = 60

Multiplication Table upto n

In [ ]:
mul_upto = int(input("Multiplication Table upto : "))
i=1
for i in range(1,mul_upto):
    for j in range (1,13):
      result = i*j
      print (f"{i} X {j} = " + str(result) )
    print("--------------")

Multiplication Table upto : 5
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
1 X 11 = 11
1 X 12 = 12
--------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
--------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
3 X 11 = 33
3 X 12 = 36
--------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
--------------

Write a program that helps you to calculate factorial of a given number.

Factorial - Calculating the factorial of a number involves multiplying all positive integers up to that number.
Here's a simple Python program to calculate the factorial of a given number.

In [ ]:
# n! = 1 x 2 x ... x n

# 0! = 1
# 1! = 1
# 2! = 1 x 2 = 2
# 3! = 1 x 2 x 3 = 6

In [ ]:
number = int(input("Enter an integer: ")) # say, number = 4

if number < 0:
    print("Not a valid number")
elif number == 0:
    result = 1
    print(f"The factorial of {number} is {result}")
else:
    result = 1
    for i in range(2, number+1):
        result *= i
        # result = result * i
    print(f"The factorial of {number} is {result}")

Enter an integer: 10
The factorial of 10 is 3628800